@inherits LayoutComponentBase

    <div class="wrapper">

        <div>
            <NavMenu />
        </div>

            <div id="content">

                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <div class="container-fluid">

                        <button type="button" id="sidebarCollapse" class="btn btn-info">
                            <i class="fas fa-align-left"></i>
                            <span>Toggle Sidebar</span>
                        </button>
                    </div>
                </nav>

                @Body
            </div>


    </div>

    @code {
        [Inject]
        protected IJSRuntime JsRuntime { get; set; }

        protected override void OnAfterRender(bool firstRender)
        {
            if (firstRender)
                JsRuntime.InvokeVoidAsync("onBlazorReady");
        }
    }


